/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Tiny5";
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: url("../assets/img/backgrounddop2.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background: rgb(79, 59, 51);
  border-radius: 16px;
  box-shadow: -5px -5px 0 rgb(53, 40, 33);
  border: 2px solid rgb(74, 59, 49);
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: row;
}

.gif-overlay {
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
}
.gif-overlay img {
  width: 100%;
  height: auto;
}

.container2 {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.c {
  width: 33%;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.shadow{
  width: 45%;
  height: 35%;
  margin-top: -5%;
  background: rgba(59, 45, 37, 0.729);
}

.shadow2{
  width: 65%;
  height: 55%;
  margin-top: -70%;
  background: rgba(59, 45, 37, 0.729);
}

.shadow3{
  width: 45%;
  height: 45%;
  margin-top: -19%;
  background: rgba(59, 45, 37, 0.729);
}

.four-stars {
    height: 40%;
    z-index: 10;
    margin:-10%;
}

.five-stars {
    height: 100%;
    z-index: 10;
}

.container3 {
  padding: 1%;
  color: rgb(161, 142, 128);
  font-size: 20px;
  text-shadow: 2px 2px 0 rgb(51, 46, 44);
  width: 57%;
  height: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.container4 {
    color: rgb(33, 25, 21);
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 23px;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}

.container5 {
  width: 60%;
  height: 12%;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.but{
  width: 25%;
  height: 100%;
}

a {
  text-decoration: none;
}

.buttons{
    border: 2px solid #5c0a46;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#2e0724;
    background: #75125b;
    transition: 0.5s;
}

.buttons:hover{
    border: 2px solid rgba(99, 37, 120, 0.997);
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;  
    align-items: center;
    justify-content: center;
    color:#ffffff;
    background: rgba(117, 44, 142, 0.997);
    transform: scale(1.05);
}

.back {
  padding: 0.8rem 1.3rem;
  background: linear-gradient(to right, #5c0a46, #75125b, #5c0a46);
  box-shadow: 0 5px 10px #420d36, inset 0 0 20px rgba(0, 0, 0, 0.463);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  position: absolute;
  top: 1%;
  left: 1%;
  color: #2e0724;
  text-shadow: 0.5px 1px 0 #3f0a5c;
  border-radius: 50%;
  transition: 0.5s;
}

.back:hover {
  background: linear-gradient(to right, rgba(99, 37, 120, 0.997), rgba(186, 78, 222, 0.997), rgba(99, 37, 120, 0.997));
  box-shadow: 0 5px 10px #330d42, inset 0 0 20px rgba(0, 0, 0, 0.463);
  color: #ffffff;
  transition: scale(1.05);
}
